*/node_modules
*/dist
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env*.local
*/.cache
*/.history
*/.sourcemaps
*/.vs
*/.nyc_output
*/.coverage

.DS_Store

/stockfish/*
!/stockfish/instructions.txt
